[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/APMAlertController"]
	path = Carthage/Checkouts/APMAlertController
	url = https://github.com/almas-dev/APMAlertController.git
[submodule "Carthage/Checkouts/ATRSlideSelectorView"]
	path = Carthage/Checkouts/ATRSlideSelectorView
	url = https://github.com/alphatroya/ATRSlideSelectorView.git
[submodule "Carthage/Checkouts/Chameleon"]
	path = Carthage/Checkouts/Chameleon
	url = https://github.com/ViccAlexander/Chameleon.git
[submodule "Carthage/Checkouts/CocoaLumberjack"]
	path = Carthage/Checkouts/CocoaLumberjack
	url = https://github.com/CocoaLumberjack/CocoaLumberjack.git
[submodule "Carthage/Checkouts/ATRLogFormatter"]
	path = Carthage/Checkouts/ATRLogFormatter
	url = https://github.com/alphatroya/ATRLogFormatter.git
[submodule "Carthage/Checkouts/DZNEmptyDataSet"]
	path = Carthage/Checkouts/DZNEmptyDataSet
	url = https://github.com/dzenbot/DZNEmptyDataSet.git
[submodule "Carthage/Checkouts/Localize-Swift"]
	path = Carthage/Checkouts/Localize-Swift
	url = https://github.com/marmelroy/Localize-Swift.git
[submodule "Carthage/Checkouts/NetworkActivityIndicatorManager"]
	path = Carthage/Checkouts/NetworkActivityIndicatorManager
	url = https://github.com/alphatroya/NetworkActivityIndicatorManager.git
[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = https://github.com/Quick/Nimble.git
[submodule "Carthage/Checkouts/Quick"]
	path = Carthage/Checkouts/Quick
	url = https://github.com/Quick/Quick.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/ReactiveCocoa"]
	path = Carthage/Checkouts/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "Carthage/Checkouts/RxSwift"]
	path = Carthage/Checkouts/RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
